/**
 * Get that pesky wpadminbar out of the way on the front end!
 */


// Take higher specificity than html.
:root {
	margin-top: 0 !important;
	margin-bottom: var(--wp-admin--admin-bar--height) !important;
	scroll-padding-top: 0 !important;
	scroll-padding-bottom: var(--wp-admin--admin-bar--height) !important;

	div#wpadminbar:not( .wp-admin * ) {
		bottom: 0 !important;
		top: unset !important;
		position: fixed !important;
	}
}