.jsSlideHeader {
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	transition: all 0.25s;
	z-index: 10;
}

.wp-site-blocks > header {
	box-shadow: 0 0 #0000;

	&.has-shadow {
		box-shadow: var(--wp--preset--shadow--theme-soft);
	}
}

.is-root-container > header,
.wp-site-blocks > header {
	.wp-block-navigation-is-layout-flex {
		row-gap: var(--wp--preset--spacing--20) !important;
	}
}