input,
textarea,
select {

	@extend %input-base;
}

input:not([type='search']),
input:disabled,
textarea,
textarea:disabled,
select {
	width: 100%;
	padding: var(--wp--preset--spacing--30);
	font-size: inherit;
}

input {
	font-family: inherit;
}

textarea {
	resize: vertical;
	font-family: inherit;
}


input[type='submit'],
button,
.wp-block-button a {
	// Also set in theme.json, trying to get rid of hover delay???
	transition: border-radius var(--wp--custom--transition--hover-time) ease-in-out;
	transition-delay: 0ms !important;
}

/*
input[type='submit'],
button[type='submit'] {

	@extend %button;
}
*/