input,
textarea,
select {

	@extend %input-base;
}

input:not([type='search']),
input:disabled,
textarea,
textarea:disabled,
select {
	width: 100%;
	padding: var(--wp--preset--spacing--30);
	font-size: inherit;
}

input {
	font-family: inherit;
}

textarea {
	resize: vertical;
	font-family: inherit;
}

/*
input[type='submit'],
button[type='submit'] {

	@extend %button;
}
*/