<!-- wp:template-part {"slug":"header","theme":"burley","tagName":"header","className":"jsSlideHeader"} /-->

<!-- wp:group -->
<div class="wp-block-group">
	<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"180px","lineHeight":"1"}}} -->
	<p class="has-text-align-center" style="font-size:180px;line-height:1">404 😬</p>
	<!-- /wp:paragraph -->
	<!-- wp:paragraph {"align":"center","fontSize":"large"} -->
	<p class="has-text-align-center has-large-font-size">The page was not found! Use the menu to get back on track.</p>
	<!-- /wp:paragraph -->
	<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search for a keyword...","width":450,"widthUnit":"px","buttonText":"Search","align":"center","style":{"border":{"radius":"5px"}},"backgroundColor":"burley-accent","textColor":"burley-fg-alt"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"burley","tagName":"footer","area":"footer","align":"full"} /-->
