<!-- wp:template-part {"slug":"header","tagName":"header","theme":"burley","className":"jsSlideHeader"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);">
	<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"180px","lineHeight":"1"}}} -->
	<p class="has-text-align-center" style="font-size:180px;line-height:1">404 😬</p>
	<!-- /wp:paragraph -->
	<!-- wp:paragraph {"align":"center","fontSize":"large"} -->
	<p class="has-text-align-center has-large-font-size">The page was not found! Use the menu above or search below to get back on track.</p>
	<!-- /wp:paragraph -->
	<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search for a keyword...","width":450,"widthUnit":"px","buttonText":"Search","align":"center","style":{"border":{"radius":"5px"}},"backgroundColor":"burley-accent","textColor":"burley-fg-alt"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-4-columns","area":"footer","theme":"burley","tagName":"footer","align":"full"} /-->
