<!-- wp:template-part {"slug":"header","theme":"burley","tagName":"header","area":"header"} /-->
<!-- wp:group -->
<div class="wp-block-group">
	<!-- wp:site-title /-->
	<!-- wp:site-tagline /-->
</div>
<!-- /wp:group -->
<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->
<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:post-title /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer-4-columns","theme":"burley","tagName":"footer","area":"footer","align":"full"} /-->