<!-- wp:template-part {"slug":"header","theme":"burley","tagName":"header","className":"jsSlideHeader"} /-->


<!-- wp:post-featured-image {"height":"70vh","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /-->


<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- wp:group {"align":"wide","className":"page-hero-overlap","style":{"border":{"radius":{"topLeft":"1rem","topRight":"1rem"}},"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"backgroundColor":"bur-bg"},"layout":{"type":"constrained"}}} -->
	<div class="wp-block-group alignwide wp-block-group-is-layout-constrained has-bur-bg-background-color has-background page-hero-overlap" style="border-top-left-radius:1rem;border-top-right-radius:1rem;padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
		<!-- wp:post-title {"textAlign":"center","level":1,"fontSize":"display-small"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|40"}}}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","theme":"burley","tagName":"footer","align":"full"} /-->
