<!-- wp:template-part {"slug":"header","theme":"burley","tagName":"header","className":"jsSlideHeader"} /-->

<!-- wp:group {"align":"full","layout":{"type":"constrained"},"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0">

	<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull">
		<!-- wp:post-featured-image {"height":"70vh","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"align":"wide","style":{"border":{"radius":{"topLeft":"1rem","topRight":"1rem"}},"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"backgroundColor":"bur-bg"},"layout":{"type":"constrained"}},"className":"wp-block-group-is-layout-constrained has-bur-bg-background-color has-background page-hero-overlap","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide wp-block-group-is-layout-constrained has-bur-bg-background-color has-background page-hero-overlap" style="border-top-left-radius:1rem;border-top-right-radius:1rem;padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
		<!-- wp:post-title {"textAlign":"center","level":1,"fontSize":"display-small"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"full","layout":{"type":"default"}} /-->

</main>
<!-- /wp:group -->







<!-- wp:template-part {"slug":"footer","theme":"burley","tagName":"footer","area":"footer","align":"full"} /-->