<!-- wp:template-part {"slug":"header","theme":"burley","tagName":"header","className":"jsSlideHeader"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->

<main class="wp-block-group">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--40)">
		<!-- wp:heading {"textAlign":"center"} -->
		<h2 class="wp-block-heading has-text-align-center">In partnership with</h2>
		<!-- /wp:heading -->
		<!-- wp:post-title {"textAlign":"center","level":1,"align":"full","fontSize":"display-small"} /-->
		<!-- wp:post-featured-image {"aspectRatio":"1","width":"20rem","scale":"contain","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"border":{"radius":"1rem"}},"className":"has-shadow-soft has-border-radius-medium"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide">
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
</div>
<!-- /wp:group -->

<!-- wp:block {"ref":99} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"},"metadata":{"name":""}} -->
<div class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}},"backgroundColor":"bur-bg","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull has-bur-bg-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
		<!-- wp:bigup-blocks/vector-shapes {"currentColor":"#044171","className":"alignfull"} -->
		<svg
			xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 60" style="color:#044171;display:block" class="wp-block-bigup-blocks-vector-shapes alignfull">
			<path fill="currentColor" d="M960 24c641 55 960 0 960 0v37H0V24s319-54 960 0Z"></path>
		</svg>
		<!-- /wp:bigup-blocks/vector-shapes -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"burley","tagName":"footer","area":"footer","align":"full"} /-->