// Until Gut' enables shadow support in the UI (maybe WP 6.5...).
.has-shadow-small { box-shadow: var(--wp--preset--shadow--theme); }
.has-shadow-soft { box-shadow: var(--wp--preset--shadow--theme-soft); }
.has-shadow-inset { box-shadow: var(--wp--preset--shadow--theme-inset); }
.has-overflow-hidden { overflow: hidden; }
.has-border-radius-large { border-radius: var(--wp--custom--border-radius--large) }
.has-border-radius-medium { border-radius: var(--wp--custom--border-radius--medium) }
.has-border-radius-small { border-radius: var(--wp--custom--border-radius--small ) }