.page-hero-overlap {
	margin-block-start: -10rem !important;
	z-index: 1;
	position: relative;
	box-shadow: 0 -0.5rem 0.5rem 0 #18181888;

	&.has-global-padding {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

@media (max-width: 768px) {
	// Single template.
	.single-service .wp-block-post-featured-image {
		height: 50vh !important;

		img {
			height: 100% !important;
		}
	}
}